[run]
branch = True
omit =
  # TODO: Remove the plugins_interfaces.py omission when new interfaces are used
  samcli/lib/iac/plugins_interfaces.py
  samcli/lib/init/templates/*
[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError.*
