version: 1.0.{build}
image: Visual Studio 2019
build: off

clone_folder: C:\source

environment:
  AWS_DEFAULT_REGION: us-east-1
  SAM_CLI_DEV: 1
  APPVEYOR_CI_OVERRIDE: 1

  # Python uses $TMPDIR envvar to find root of tempdir
  TMPDIR: C:\tmp
  TEMP: C:\tmp
  TMP: C:\tmp

  # MSI Installers only use Py3.7.6. It is sufficient to test with this version here.
  PYTHON_HOME: "C:\\Python37-x64"
  PYTHON_SCRIPTS: "C:\\Python37-x64\\Scripts"
  PYTHON_EXE: "C:\\Python37-x64\\python.exe"
  PYTHON_ARCH: "64"
  HOME: 'C:\Users\appveyor'
  HOMEDRIVE: "C:"
  HOMEPATH: 'C:\Users\appveyor'
  APPVEYOR_CONSOLE_DISABLE_PTY: true

init:
  # Uncomment this for RDP
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: gcim Win32_Processor | % { "$($_.NumberOfLogicalProcessors) logical CPUs" }
  - ps: gcim Win32_OperatingSystem | % { "$([int]($_.TotalVisibleMemorySize/1mb)) Gb" }

install:
  # Install Go
  - "choco install golang"
  - "choco install bzr"
  - "refreshenv"
  - "go version"
  - "go env"
  # Set Go to allow modify go.mod and go.sum
  # Breaking change introduced by https://golang.org/doc/go1.16
  - "go env -w GOFLAGS=-mod=mod"
  # Check that GOFLAGS have been set.
  - "go env"

  # Make sure the temp directory exists for Python to use.
  - ps: "mkdir -Force C:\\tmp"
  - "SET PATH=%PYTHON_HOME%;%PATH%"
  - "echo %PYTHON_HOME%"
  - "echo %PATH%"
  - "python --version"

  # Upgrade setuptools, wheel and virtualenv
  - "python -m pip install --upgrade setuptools wheel virtualenv"

  # Create new virtual environment with chosen python version and activate it
  - "python -m virtualenv venv"
  - "venv\\Scripts\\activate"
  - "python --version"

  # Actually install SAM CLI's dependencies
  - 'pip install -e ".[dev]"'

  # Switch to Docker Linux containers
  - ps: Switch-DockerLinux

  # Echo final Path
  - "echo %PATH%"

test_script:
  # Reactivate virtualenv before running tests
  - "venv\\Scripts\\activate"
  - "docker system prune -a -f"
  - ps: "pytest -vv tests/integration/buildcmd/test_build_cmd.py -k TestBuildCommand_Go_Modules"
  - ps: "pytest -vv tests/integration/buildcmd/test_build_cmd.py -k TestBuildCommand_Go_Modules_With_Specified_Architecture"
# Uncomment for RDP
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
