version: 1.0.{build}
image: Windows Server 2019
build: off

# Change the clone folder to somewhere in "D:\" because this is shared by default with Docker. We need this to mount folders.
clone_folder: D:\source

configuration:
  - BuildIntegTesting
  - DeployIntegTesting
  - LocalIntegTesting
  # other Integration testing, Dev, regression and smoke testing
  - OtherTesting

environment:
  AWS_DEFAULT_REGION: us-east-1
  SAM_CLI_DEV: 1

  # In Windows, tempdir is usually in C:\. But in AppVeyor only D:\ is shared in Docker. 
  # Therefore change TEMPDIR it to D: for invoke tests to work. Python uses $TMPDIR envvar
  # to find root of tempdir
  TMPDIR: D:\tmp
  TEMP: D:\tmp
  TMP: D:\tmp

  # MSI Installers only use Py3.7.6. It is sufficient to test with this version here.
  PYTHON_HOME: "C:\\Python37-x64"
  PYTHON_SCRIPTS: "C:\\Python37-x64\\Scripts"
  PYTHON_EXE: "C:\\Python37-x64\\python.exe"
  PYTHON_ARCH: '64'
  HOME: 'C:\Users\appveyor'
  HOMEDRIVE: 'C:'
  HOMEPATH: 'C:\Users\appveyor'
  NOSE_PARAMETERIZED_NO_WARN: 1
  AWS_S3: 'AWS_S3_37_WIN'
  AWS_ECR: 'AWS_ECR_37'
  APPVEYOR_CONSOLE_DISABLE_PTY: true

init:
  # Uncomment this for RDP
  # - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: gcim Win32_Processor | % { "$($_.NumberOfLogicalProcessors) logical CPUs" }
  - ps: gcim Win32_OperatingSystem | % { "$([int]($_.TotalVisibleMemorySize/1mb)) Gb" }
  - git config --global core.autocrlf false

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml

install:
  # setup make
  - "choco install make"

  # Make sure the temp directory exists for Python to use.
  - ps: "mkdir -Force D:\\tmp"
  - "SET PATH=%PYTHON_HOME%;%PATH%"
  - "echo %PYTHON_HOME%"
  - "echo %PATH%"
  - "python --version"
  - "docker info"

  # Upgrade setuptools, wheel and virtualenv
  - "python -m pip install --upgrade setuptools wheel virtualenv"

  # Install AWS CLI Globally via pip3
  - "pip install awscli"

  # Create new virtual environment with chosen python version and activate it
  - "python -m virtualenv venv"
  - "venv\\Scripts\\activate"
  - "python --version"

  # Actually install SAM CLI's dependencies
  - "pip install -e \".[dev]\""

  # Install aws cli
  - "pip install awscli"

  # Switch to Docker Linux containers
  - ps: Switch-DockerLinux

  # Check for git executable
  - "git --version"

  # Echo final Path
  - "echo %PATH%"

for:
  #Integ testing build, regression
  -
    matrix:
      only:
        - configuration: BuildIntegTesting

    test_script:
        # Reactivate virtualenv before running tests
        - ps: "
            If (Test-Path env:BY_CANARY){
              echo Logging in Public ECR; aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws;
            }"
        - "git --version"
        - "venv\\Scripts\\activate"
        - "docker system prune -a -f"
        - ps: "pytest -vv tests/integration/buildcmd"

  #Integ testing deploy
  -
    matrix:
      only:
        - configuration: DeployIntegTesting

    test_script:
        # Reactivate virtualenv before running tests
        - ps: "
            If (Test-Path env:BY_CANARY){
              echo Logging in Public ECR; aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws;
            }"
        - "git --version"
        - "venv\\Scripts\\activate"
        - "docker system prune -a -f"
        - ps: "pytest -vv tests/integration/delete tests/integration/deploy tests/integration/package tests/integration/sync"

  #Integ testing local
  -
    matrix:
      only:
        - configuration: LocalIntegTesting

    test_script:
        # Reactivate virtualenv before running tests
        - ps: "
            If (Test-Path env:BY_CANARY){
              echo Logging in Public ECR; aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws;
            }"
        - "git --version"
        - "venv\\Scripts\\activate"
        - "docker system prune -a -f"
        - ps: "pytest -vv tests/integration/local"

  #Other testing
  -
    matrix:
      only:
        - configuration: OtherTesting

    test_script:
        # Reactivate virtualenv before running tests
        - ps: "
            If (Test-Path env:BY_CANARY){
              echo Logging in Public ECR; aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws;
            }"
        - "git --version"
        - "venv\\Scripts\\activate"
        - "docker system prune -a -f"
        - ps: "pytest --cov samcli --cov-report term-missing --cov-fail-under 94 tests/unit"
        - "mypy setup.py samcli tests"
        - ps: "pytest -n 4 tests/functional"
        - ps: "pytest -vv tests/integration --ignore=tests/integration/buildcmd --ignore=tests/integration/delete --ignore=tests/integration/deploy --ignore=tests/integration/package --ignore=tests/integration/sync --ignore=tests/integration/local"
        - ps: "pytest -vv tests/regression"

# Uncomment for RDP
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
