version: 1.0.{build}
image: 
  - Ubuntu
  - Visual Studio 2019

environment:
  AWS_DEFAULT_REGION: us-east-1
  SAM_CLI_DEV: 1
  NODE_VERSION: "14.17.6"
  CARGO_LAMBDA_VERSION: "v0.17.1"
 
  matrix:

    - PYTHON_HOME: "C:\\Python37-x64"
      PYTHON_VERSION: '3.7'
      PYTHON_ARCH: '64'
      RUN_SMOKE: 1
      NOSE_PARAMETERIZED_NO_WARN: 1
      INSTALL_PY_38_PIP: 1
      INSTALL_PY_39_PIP: 1
      AWS_S3: 'AWS_S3_37'
      AWS_ECR: 'AWS_ECR_37'
      APPVEYOR_CONSOLE_DISABLE_PTY: true

    - PYTHON_HOME: "C:\\Python38-x64"
      PYTHON_VERSION: '3.8'
      PYTHON_ARCH: '64'
      RUN_SMOKE: 1
      NOSE_PARAMETERIZED_NO_WARN: 1
      INSTALL_PY_37_PIP: 1
      INSTALL_PY_39_PIP: 1
      AWS_S3: 'AWS_S3_38'
      AWS_ECR: 'AWS_ECR_38'
      APPVEYOR_CONSOLE_DISABLE_PTY: true

    - PYTHON_HOME: "C:\\Python39-x64"
      PYTHON_VERSION: '3.9'
      PYTHON_ARCH: '64'
      RUN_SMOKE: 1
      NOSE_PARAMETERIZED_NO_WARN: 1
      INSTALL_PY_37_PIP: 1
      INSTALL_PY_38_PIP: 1
      AWS_S3: 'AWS_S3_39'
      AWS_ECR: 'AWS_ECR_39'
      APPVEYOR_CONSOLE_DISABLE_PTY: true

for:
  - 
    matrix:
      only:
        - image: Visual Studio 2019

    install:
      - ps: Install-Product node $env:NODE_VERSION
      - "SET PATH=%PYTHON_HOME%;%PATH%"
      - "echo %PYTHON_HOME%"
      - "echo %PATH%"
      - "python --version"
      # Upgrade setuptools, wheel and virtualenv
      - "SET PATH=%PYTHON_HOME%;%PATH%"
      - "echo %PYTHON_HOME%"
      - "echo %PATH%"
      - "python -m pip install --upgrade setuptools wheel virtualenv"
      - "docker info"

      # install Terraform CLI
      - "choco install terraform"
      - "terraform -version"

      # Install AWS CLI Globally outside of a venv.
      - "pip install awscli"
      
      # Create pre-dev virtual env without installing dev depenencies
      # This is used for import check for prod code to prevent importing packages from dev.txt
      - "rm -rf pre-dev-venv"
      - "python -m virtualenv pre-dev-venv"
      - "pre-dev-venv\\Scripts\\activate"
      - "python --version"
      - "deactivate"

      # Create dev virtual env
      - "rm -rf venv"
      - "python -m virtualenv venv"
      - "venv\\Scripts\\activate"
      - "python --version"
      - "deactivate"

    build_script:
      # Install pre-dev dependencies
      # This env is currently used for doing import check with Pylint without dev.txt dependencies installed 
      - "pre-dev-venv\\Scripts\\activate"
      - "python -c \"import sys; print(sys.executable)\""
      - "pip install -e \".[pre-dev]\""
      - "deactivate"

      # Install dev dependencies
      - "venv\\Scripts\\activate"
      - "python -c \"import sys; print(sys.executable)\""
      - "pip install -e \".[dev]\""
      - "deactivate"

    test_script:
      # Run pylint on pre-dev env to catch import errors
      - "pre-dev-venv\\Scripts\\activate"
      - "pylint --rcfile .pylintrc samcli"
      - "deactivate"

      # Run tests with dev env
      - "venv\\Scripts\\activate"
      - ps: "pytest --cov samcli --cov-report term-missing --cov-fail-under 94 tests/unit"
      - ps: "pylint --rcfile .pylintrc samcli"
      - ps: "mypy setup.py samcli tests"
      - ps: "pytest -n 4 tests/functional"
      - "deactivate"


  - 
    matrix:
      only:
        - image: Ubuntu

    install:
      # apt repo for python3.9 installation
      - sh: "sudo add-apt-repository ppa:deadsnakes/ppa"
      # AppVeyor's apt-get cache might be outdated, and the package could potentially be 404.
      - sh: "sudo apt-get update"

      - sh: "gvm use go1.19"
      - sh: "echo $PATH"
      - sh: "ls /usr/"
      - sh: "JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64"
      - sh: "PATH=$JAVA_HOME/bin:$PATH"
      - sh: "source ${HOME}/venv${PYTHON_VERSION}/bin/activate"
      - sh: "rvm use 2.7.2"
      - sh: "docker --version"
      - sh: "nvm install ${NODE_VERSION}"
      - sh: "npm install npm@7.24.2 -g"
      - sh: "npm -v"

      # Install latest gradle
      - sh: "sudo apt-get -y remove gradle"
      - sh: "wget https://services.gradle.org/distributions/gradle-5.5-bin.zip -P /tmp"
      - sh: "sudo unzip -d /opt/gradle /tmp/gradle-*.zip"
      - sh: "PATH=/opt/gradle/gradle-5.5/bin:$PATH"

      # install Terraform
      - sh: "sudo apt update"
      - sh: "TER_VER=`curl -s https://api.github.com/repos/hashicorp/terraform/releases/latest | grep tag_name | cut -d: -f2 | tr -d \\\"\\,\\v | awk '{$1=$1};1'`"
      - sh: "wget https://releases.hashicorp.com/terraform/${TER_VER}/terraform_${TER_VER}_linux_amd64.zip -P /tmp"
      - sh: "sudo unzip -d /opt/terraform /tmp/terraform_${TER_VER}_linux_amd64.zip"
      - sh: "sudo mv /opt/terraform/terraform /usr/local/bin/"
      - sh: "terraform -version"

      # Install AWS CLI
      - sh: "virtualenv aws_cli"
      - sh: "./aws_cli/bin/python -m pip install awscli"
      - sh: "PATH=$(echo $PWD'/aws_cli/bin'):$PATH"

      - sh: "sudo apt-get -y install python3.7"
      - sh: "sudo apt-get -y install python3.8"
      - sh: "sudo apt-get -y install python3.9"

      - sh: "which python3.8"
      - sh: "which python3.7"
      - sh: "which python3.9"

      - sh: "PATH=$PATH:/usr/bin/python3.9:/usr/bin/python3.8:/usr/bin/python3.7"
      - sh: "curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py"

      - sh: "sudo apt-get -y install python3-distutils"
      - sh: "sudo apt-get -y install python3.9-distutils"
      - ps: "If ($env:INSTALL_PY_39_PIP) {python3.9 get-pip.py --user}"
      - ps: "If ($env:INSTALL_PY_38_PIP) {python3.8 get-pip.py --user}"
      - ps: "If ($env:INSTALL_PY_37_PIP) {python3.7 get-pip.py --user}"

      # update ca-certificates which causes failures with newest golang library
      - sh: "sudo apt-get install --reinstall ca-certificates"

    build_script:
      - "python -c \"import sys; print(sys.executable)\""

    test_script:
      # Pre-dev Tests
      - "pip install -e \".[pre-dev]\""
      - "pylint --rcfile .pylintrc samcli"

      # Dev Tests
      - "pip install -e \".[dev]\""
      - "pytest --cov samcli --cov-report term-missing --cov-fail-under 94 tests/unit"
      - "pylint --rcfile .pylintrc samcli"
      - "mypy setup.py samcli tests"
      - "pytest -n 4 tests/functional"

      # Runs only in Linux, logging Public ECR when running canary and cred is available
      - sh: "
        if [[ -n $BY_CANARY ]];
          then echo Logging in Public ECR; aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws;
        fi"

      # NOTE: test_build_cmd_rust.py is run in GH Action
      - sh: "pytest -vv tests/integration --ignore=tests/integration/buildcmd/test_build_cmd_rust.py"
      - sh: "pytest -vv tests/regression"
      - sh: "black --check setup.py tests samcli"

      # Set JAVA_HOME to java11
      - sh: "JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
      - sh: "pytest -vv tests/integration/buildcmd/test_build_cmd.py -k test_building_java11_in_process"

      # Smoke tests run in parallel - it runs on both Linux & Windows
      # Presence of the RUN_SMOKE envvar will run the smoke tests
      - ps: "If ($env:RUN_SMOKE) {pytest -n 4 -vv tests/smoke}"
