version: 1.0.{build}
image: Visual Study 2017
build: off

# Change the clone folder to somewhere in "D:\" because this is shared by default with Docker. We need this to mount folders.
clone_folder: D:\source

environment:
  GOPATH: c:\gopath
  GOVERSION: 1.13
  AWS_DEFAULT_REGION: us-east-1
  SAM_CLI_DEV: 1
  APPVEYOR_CI_OVERRIDE: 1

  # In Windows, tempdir is usually in C:\. But in AppVeyor only D:\ is shared in Docker. 
  # Therefore change TEMPDIR it to D: for invoke tests to work. Python uses $TMPDIR envvar
  # to find root of tempdir
  TMPDIR: D:\tmp
  TEMP: D:\tmp
  TMP: D:\tmp

  # MSI Installers only use Py3.6.6. It is sufficient to test with this version here.
  PYTHON_HOME: "C:\\Python36-x64"
  PYTHON_SCRIPTS: "C:\\Python36-x64\\Scripts"
  PYTHON_EXE: "C:\\Python36-x64\\python.exe"
  PYTHON_VERSION: '3.6.8'
  PYTHON_ARCH: '64'
  HOME: 'C:\Users\appveyor'
  HOMEDRIVE: 'C:'
  HOMEPATH: 'C:\Users\appveyor'

init:
  # Uncomment this for RDP
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: gcim Win32_Processor | % { "$($_.NumberOfLogicalProcessors) logical CPUs" }
  - ps: gcim Win32_OperatingSystem | % { "$([int]($_.TotalVisibleMemorySize/1mb)) Gb" }

install:

    # Make sure the temp directory exists for Python to use.
    - ps: "mkdir -Force D:\\tmp"
    - "SET PATH=%PYTHON_HOME%;%PATH%"
    - "echo %PYTHON_HOME%"
    - "echo %PATH%"
    - "python --version"

    # Upgrade setuptools, wheel and virtualenv
    - "python -m pip install --upgrade setuptools wheel virtualenv"

    # Create new virtual environment with chosen python version and activate it
    - "python -m virtualenv venv"
    - "venv\\Scripts\\activate"
    - "python --version"

    # Actually install SAM CLI's dependencies
    - "pip install -e \".[dev]\""

    # Install Go
    - rmdir c:\go /s /q
    - "choco install golang"
    - "choco install bzr"
    - setx PATH "C:\go\bin;C:\gopath\bin;C:\Program Files (x86)\Bazaar\;C:\Program Files\Mercurial;%PATH%;"
    - "go version"
    - "go env"

    # Echo final Path
    - "echo %PATH%"

test_script:
    # Reactivate virtualenv before running tests
    - "venv\\Scripts\\activate"
    - "pytest -vv tests/integration/buildcmd/test_build_cmd.py -k test_with_go"
    - "pytest -vv tests/integration/buildcmd/test_build_cmd.py -k test_go_must_fail_with_container"

# Uncomment for RDP
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
