version: 1.0.{build}
image: 
  - Ubuntu
  - Visual Studio 2017

configuration: 
  - smoke

environment:
  AWS_DEFAULT_REGION: us-east-1
  SAM_CLI_DEV: 1
 
  matrix:

    - PYTHON_HOME: "C:\\Python27-x64"
      PYTHON_VERSION: '2.7.16'
      PYTHON_ARCH: '32'

    - PYTHON_HOME: "C:\\Python36-x64"
      PYTHON_VERSION: '3.6.8'
      PYTHON_ARCH: '64'

    - PYTHON_HOME: "C:\\Python37-x64"
      PYTHON_VERSION: '3.7.4'
      PYTHON_ARCH: '64'
      RUN_SMOKE: 1

for:
  - 
    matrix:
      only:
        - image: Visual Studio 2017

    install:
      # Upgrade setuptools, wheel and virtualenv
      - "python -m pip install --upgrade setuptools wheel virtualenv"

      # Create new virtual environment and activate it
      - "rm -rf venv"
      - "python -m virtualenv venv"
      - "venv/Scripts/activate"

  - 
    matrix:
      only:
        - image: Ubuntu
    install:
      - sh: "JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64"
      - sh: "PATH=$JAVA_HOME/bin:$PATH"
      - sh: "source ${HOME}/venv${PYTHON_VERSION}/bin/activate"
      - sh: "rvm use 2.5"

      # Install latest gradle 
      - sh: "sudo apt-get -y remove gradle"
      - sh: "wget https://services.gradle.org/distributions/gradle-5.5-bin.zip -P /tmp"
      - sh: "sudo unzip -d /opt/gradle /tmp/gradle-*.zip"
      - sh: "PATH=/opt/gradle/gradle-5.5/bin:$PATH"

      # Install black
      - sh: "wget -O /tmp/black https://github.com/python/black/releases/download/19.3b0/black"
      - sh: "chmod +x /tmp/black"
      - sh: "/tmp/black --version"
  
  - 
    matrix:
      only:
        - ONLY_SMOKE: 1
    test_script:
      # Smoke tests run in parallel
      - "pytest -n 4 -vv tests/smoke"

build_script:
  - "python -c \"import sys; print(sys.executable)\""

  # Actually install SAM CLI's dependencies
  - "pip install -e \".[dev]\""

test_script:
    - "pytest --cov samcli --cov-report term-missing --cov-fail-under 95 tests/unit"
    - "pylint --rcfile .pylintrc samcli"

    # Runs only in Linux
    - sh: "pytest -vv tests/integration"
    - sh: "/tmp/black --check setup.py tests samcli"

    # Smoke tests run in parallel - it runs on both Linux & Windows
    # Presence of the RUN_SMOKE envvar will run the smoke tests
    - ps: "If ($env:RUN_SMOKE) {pytest -n 4 -vv tests/smoke}"
