include LICENSE
include THIRD-PARTY-LICENSES
include requirements/base.txt
include requirements/dev.txt
include samcli/local/rapid/aws-lambda-rie
recursive-include samcli/lib/init/templates *
recursive-include samcli/lib *.json
recursive-include samcli/lib/generated_sample_events *.json
prune tests

