include LICENSE
include requirements/base.txt
include requirements/dev.txt
recursive-include samcli/lib/init/templates *
recursive-include samcli/lib *.json
recursive-include samcli/lib/generated_sample_events *.json
prune tests

