AWSTemplateFormatVersion: 2010-09-09
Description: SAM Test Runner Stack, used to deploy and run tests using Fargate
Resources:

    ContainerIAMRole:
        Type: AWS::IAM::Role
        Properties:
            Description: IAM Permissions granted to the Fargate instance so that it can invoke and test deployed resources
            AssumeRolePolicyDocument:
                Version: 2012-10-17
                Statement:
                    - Effect: Allow
                      Principal:
                          Service:
                              - ecs-tasks.amazonaws.com
                      Action:
                          - sts:AssumeRole
            Policies:
                - PolicyName: ContainerPermissions
                  PolicyDocument:
                      Version: 2012-10-17
                      Statement:
                          - Sid: S3BucketAccess
                            Effect: Allow
                            Action:
                                - s3:PutObject
                                - s3:GetObject
                            Resource: !Sub
                                - arn:aws:s3:::${bucket}/*
                                - bucket: !Ref S3Bucket
                          {% if generated_statements is defined %}
                          {{ generated_statements | indent(6 * 4 + 2) }}
                          {% endif %}

    TaskDefinition:
        Type: AWS::ECS::TaskDefinition
        Properties:
            RequiresCompatibilities:
                - FARGATE
            ExecutionRoleArn: !Sub arn:aws:iam::${AWS::AccountId}:role/ecsTaskExecutionRole
            TaskRoleArn: !Ref ContainerIAMRole
            Cpu: 256
            Memory: 512
            NetworkMode: awsvpc
            ContainerDefinitions:
                - Name: cloud-test-python-container
                  Image: {{ image_uri }}
                  PortMappings:
                      - ContainerPort: 8080
                        Protocol: tcp
                  LogConfiguration:
                      LogDriver: awslogs
                      Options:
                          awslogs-region: !Ref AWS::Region
                          awslogs-group: !Ref LogGroup
                          awslogs-stream-prefix: ecs

    LogGroup:
        Type: AWS::Logs::LogGroup
        Properties:
            LogGroupName: test-runner-loggroup

    ECSCluster:
        Type: AWS::ECS::Cluster
        Properties:
            ClusterName: test-runner-fargate-cluster

    S3Bucket:
        Type: AWS::S3::Bucket
        Properties:
            BucketName: {{ s3_bucket_name }}
