name: Build And Test

on:
  pull_request:
    branches:
      - develop
      - "feat/*"
      - "feat-*"
  merge_group:
    types: [ checks_requested ]
    branches:
      - develop
      - "feat/*"
      - "feat-*"

# to automatically cancel the running workflow for same PR.
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-workflow:
    name: PR Workflow
    # If any dependent jobs fails, this WF skips which won't block merging PRs
    # calling always() is required for this WF to run all the time
    if: github.repository_owner == 'aws' && always()
    runs-on: ubuntu-latest
    needs:
      - make-pr
      - validate-schema
      - integration-tests
      - smoke-and-functional-tests
      - docker-disabled
    steps:
      - name: report-failure
        if : |
          needs.make-pr.result != 'success' ||
          needs.validate-schema.result != 'success' ||
          needs.integration-tests.result != 'success' ||
          needs.smoke-and-functional-tests.result != 'success' ||
          needs.docker-disabled.result != 'success'
        run: exit 1
      - name: report-success
        run: exit 0

  make-pr:
    name: make pr / ${{ matrix.os }} / ${{ matrix.python }}
    if: github.repository_owner == 'aws'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python:
          - "3.9"
          - "3.11"
    steps:
    # This allows temp file creation on drive D, which won't trigger windows defender scan and leads to faster IO
    - name: Set TEMP to D:/Temp
      run: |
        mkdir "D:\\Temp"
        echo "TEMP=D:\\Temp" >> $env:GITHUB_ENV  
      if: ${{ matrix.os == 'windows-latest' }}
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
    - run: test -f "./.github/ISSUE_TEMPLATE/Bug_report.md"  # prevent Bug_report.md from being renamed or deleted
    - run: make pr

  validate-schema:
    name: Validate JSON schema
    if: github.repository_owner == 'aws'
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        name: Install Python 3.11
        with:
          python-version: 3.11
      - run: make init
      - run: |
          diff <( cat schema/samcli.json ) <( python -m schema.make_schema && cat schema/samcli.json ) && \
            echo "No changes found." && \
            exit 0 # exit if schema is unchanged
          echo "The generated schema differs from that in the PR. Please run 'make schema'."
          exit 1
        name: Generate and compare the schema
        shell: bash

  integration-tests:
    name: Integ / ${{ matrix.os }} / ${{ matrix.python }} / ${{ matrix.tests_config.name }}
    if: github.repository_owner == 'aws'
    runs-on: ${{ matrix.os }}
    env:
      AWS_DEFAULT_REGION: us-east-1
      SAM_CLI_DEV: "1"
      CARGO_LAMBDA_VERSION: 0.17.1
      CARGO_INCREMENTAL: 0 # disable incremental compilation
      CARGO_TERM_COLOR: always # enable colors in Cargo output
      CI: true
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        python:
          - "3.9"
          - "3.11"
        # folders that is commented below requires credentials, no need to spare time to run them
        tests_config:
          - name: "integ-buildcmd-arm64"
            params: "-n 2 --reruns 3 tests/integration/buildcmd/test_build_cmd_arm64.py"
          - name: "integ-buildcmd-main"
            params: "-n 2 --reruns 3 tests/integration/buildcmd/test_build_cmd_dotnet.py tests/integration/buildcmd/test_build_cmd_provided.py tests/integration/buildcmd/test_build_cmd_rust.py tests/integration/buildcmd/test_build_cmd_python.py tests/integration/buildcmd/test_build_cmd_node.py"
          - name: "integ-buildcmd-java"
            params: "-n 2 --reruns 5 tests/integration/buildcmd/test_build_cmd_java.py"
          - name: "integ-buildcmd-other"
            params: "-n 2 --reruns 3 tests/integration/buildcmd --ignore=tests/integration/buildcmd/test_build_cmd_arm64.py --ignore=tests/integration/buildcmd/test_build_cmd_dotnet.py --ignore=tests/integration/buildcmd/test_build_cmd_provided.py --ignore=tests/integration/buildcmd/test_build_cmd_rust.py --ignore=tests/integration/buildcmd/test_build_cmd_python.py --ignore=tests/integration/buildcmd/test_build_cmd_node.py --ignore=tests/integration/buildcmd/test_build_cmd_java.py"
          #- "delete"
          #- "deploy"
          - name: "integ-all-other"
            params: "-n 2 --reruns 3 tests/integration/init tests/integration/local tests/integration/pipeline tests/integration/root tests/integration/scripts tests/integration/telemetry tests/integration/docs"
          #- "list"
          #- "logs"
          #- "package"
          #- "publish"
          #- "sync"
          #- "traces"
          #- "validate"
    steps:
      - uses: actions/checkout@v6
      - name: Set TEMP to D:/Temp
        run: |
          mkdir "D:\\Temp"
          echo "TEMP=D:\\Temp" >> $env:GITHUB_ENV  
        if: ${{ matrix.os == 'windows-latest' }}
      - uses: actions/setup-python@v6
        with:
          # set last version as the one in matrix to make it default
          python-version: |
            3.9
            3.10
            3.11
            3.12
            3.13
            3.14
            ${{ matrix.python }}
          cache: 'pip'
      - uses: actions/setup-go@v6
        with:
          go-version: '1.19'
      # Pin to specific version until Lambda Builders support bundler 4.0.0
      - uses: ruby/setup-ruby@v1.268.0
        with:
          ruby-version: "3.3"
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: |
            8
            11
            17
            21
            25
       # Install and configure Rust & Cargo Lambda
      - name: Install and configure Rust & Cargo Lambda
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          : install rustup if needed
          if ! command -v rustup &> /dev/null ; then
            curl --proto '=https' --tlsv1.2 --retry 10 --retry-connrefused -fsSL "https://sh.rustup.rs" | sh -s -- --default-toolchain none -y
            echo "${CARGO_HOME:-$HOME/.cargo}/bin" >> $GITHUB_PATH
          fi
          rustup toolchain install stable --profile minimal --no-self-update
          rustup default stable
          pip install cargo-lambda==$CARGO_LAMBDA_VERSION
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Init samdev
        run: make init
      - name: uv install setuptools in Python3.12
        run: uv pip install --system --python python3.12 --upgrade pip setuptools
      - name: Run integration tests for ${{ matrix.tests_config.name }}
        run: pytest -vv ${{ matrix.tests_config.params }}

  smoke-and-functional-tests:
    name: ${{ matrix.tests_config.name }} / ${{ matrix.tests_config.os }} / ${{ matrix.python }}
    if: github.repository_owner == 'aws'
    runs-on: ${{ matrix.tests_config.os }}
    env:
      AWS_DEFAULT_REGION: us-east-1
      SAM_CLI_DEV: "1"
      CARGO_LAMBDA_VERSION: 0.17.1
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.9"
          - "3.11"
        tests_config:
          - name: "Smoke & Functional Tests - All"
            os: ubuntu-latest
            params: "-n 4 tests/smoke tests/functional"
            env_vars: "all"
          - name: "Smoke Tests - First Third"
            os: windows-latest
            params: "-n 4 tests/smoke"
            env_vars: "first-third"
          - name: "Smoke Tests - Second Third"
            os: windows-latest
            params: "-n 4 tests/smoke"
            env_vars: "second-third"
          - name: "Smoke Tests - Third Third & Functional Tests"
            os: windows-latest
            params: "-n 4 tests/smoke tests/functional"
            env_vars: "third-third"
    steps:
      - uses: actions/checkout@v6
      - name: Set TEMP to D:/Temp
        run: |
          mkdir "D:\\Temp"
          echo "TEMP=D:\\Temp" >> $env:GITHUB_ENV  
        if: ${{ matrix.os == 'windows-latest' }}
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
      - name: Init samdev
        run: make init
      - name: Run ${{ matrix.tests_config.name }}
        run: pytest -vv ${{ matrix.tests_config.params }}
        env:
          SMOKE_TEST_SUBSET: ${{ matrix.tests_config.env_vars }}

  docker-disabled:
    name: Docker-disabled Tests / ${{ matrix.os }}
    if: github.repository_owner == 'aws'
    runs-on: ${{ matrix.os }}
    env:
      SAM_CLI_DEV: "1"
      CI: true
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set TEMP to D:/Temp
        run: |
          mkdir "D:\\Temp"
          echo "TEMP=D:\\Temp" >> $env:GITHUB_ENV  
        if: ${{ matrix.os == 'windows-latest' }}
      - uses: actions/setup-python@v6
        with:
          # These are the versions of Python that correspond to the supported Lambda runtimes
          python-version: |
            3.14
            3.9
            3.10
            3.11
            3.12
            3.13
      - name: Stop Docker Linux
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          : sudo systemctl stop docker
          sudo systemctl stop docker.service
          sudo systemctl stop docker.socket
      - name: Stop Docker Windows
        if: ${{ matrix.os == 'windows-latest' }}
        shell: pwsh
        run: stop-service docker
      - name: Init samdev
        run: make init
      - name: uv install setuptools in Python3.12
        run: uv pip install --system --python python3.12 --upgrade pip setuptools
      - name: Check Docker not Running
        run: docker info
        id: run-docker-info
        continue-on-error: true
      - name: Report failure
        if: steps.run-docker-info.outcome == 'success'
        run: exit 1
      - name: Run tests without Docker
        run: pytest -vv tests/integration/buildcmd/test_build_cmd_python.py -k TestBuildCommand_PythonFunctions_WithoutDocker
