name: Update reproducible requirements
on:
  pull_request:
    branches: [develop, update_action_fix]
    paths:
      # run this GHA if the following files have changed
      - requirements/base.txt
      - requirements/reproducible-linux.txt
      - requirements/reproducible-mac.txt
      - requirements/reproducible-win.txt

jobs:
  update-reqs:
    permissions:
      pull-requests: write
      contents: write
      actions: write
    if: github.repository_owner == 'aws'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Update all reproducible requirements
        run: make update-reproducible-reqs-uv
      - name: Push changes
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git add requirements/reproducible-*.txt
          git commit -m "Update reproducible requirements" || echo "nothing to commit"
          git push

      - name: Trigger Build workflow
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow run build.yml --ref ${{ github.head_ref }}
